<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Animes</title>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}
    <h1>
        <hr>
        <form action="{{url_for('newanime')}}" method="post">
            <label for="">Título:</label>
            <input type="text" name="title">
            <label for="">Ano:</label>
            <input type="text" name="year">
            <label for="">Categoria:</label>
            <input type="text" name="category">
            <input type="submit" value="Cadastrar">

        </form>
        <br>
        <hr>
    </h1>
    <table>
    <tr>
    <th>Título</th>
    <th>Ano</th>
    <th>Categoria</th>
    </tr>
    {% for anime in animelist %}
    <tr>
        <td>{{anime.Título}}</td>
        <td>{{anime.Ano}}</td>
        <td>{{anime.Categoria}}</td>
    </tr>
    
    {% endfor %}
    </table>

    {% endblock content %}

</body>
</html>